@font-face {
  font-family: 'AzoSans';
  src:
    url('https://fabriciobutantan.github.io/azo.github.io/Azo/AzoSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*
    url('https://<yourserver>/path/to/font.woff2') format('woff2'),
    url('https://<yourserver>/path/to/font.woff') format('woff'),
/*
